# Just to make sure I don't accidentally add this to git!
*.env
*.pem
backend/.idea/backend.iml
backend/.idea/modules.xml
frontend/.idea/vcs.xml
frontend/.idea/modules.xml
frontend/.idea/frontend.iml
