@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&family=Source+Sans+Pro:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lato Light", sans-serif;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track, 
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after { 
  opacity: 0.9;
}