{
  "parser": "@babel/eslint-parser",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "plugin:react/jsx-runtime",
    "plugin:testing-library/react",
    "plugin:jest/all"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "react/prop-types": "off",
    "jest/require-hook": "off",
    "jest/require-top-level-describe": "off",
    "jest/no-hooks": "off"
  }
}